<!-- wp:template-part {"slug":"header","theme":"books-library","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"slider-main-box","style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|50","bottom":"0","left":"0","right":"0"}},"dimensions":{"minHeight":"600px"}},"layout":{"type":"constrained","contentSize":"100%","wideSize":""}} -->
<main class="wp-block-group slider-main-box" style="min-height:600px;padding-top:var(--wp--preset--spacing--50);padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:pattern {"slug":"books-library/banner"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"books-library/product-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"books-library","tagName":"footer"} /-->